<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>UsersView</title>
<link rel="stylesheet" type="text/css" href="resources/css/style1.css">
<script type='text/javascript'
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--  <script src="resources/nullForm.js"></script>-->

<!--

			-->




	<script>
				function get_table() {
			        $.get("/crud2/getAll", function(responseJson) {   
		            	$("#users tr:gt(0)").remove();
			            $.each(responseJson, function(index, item) {  
			            	$('#users').append('<tr class = "output_tr" ><td>' + item.name + '</td><td>' + item.login + '</td><td>' + item.email + '</td><td>' + item.timeOfCreate + '</td><td>' + item.userRole.name + '</td></tr>');
			            });
			        });
		      }
				
				function get_user() {
					
			     	$.post("/crud2/getUser", 
			     		{
				     		login : $('#l0').val()
				     	},
				     	function(responseJson) {   
				     		$('#n1').val(responseJson.name);
				     		$('#l1').val(responseJson.login);
				     		$('#e1').val(responseJson.email);
				     		$('#c1').val(responseJson.timeOfCreate);
				     		$('#u1').val(responseJson.userRole.id);
				     		
			      });
				}
				
				function editUser() {
					$.post("/crud2/saveEdit", 
							{
								name : $('#n1').val(),
								login : $('#l1').val(),
								email : $('#e1').val(),
								userRole : $('#u1').val()
							}
			      );					
					
				}
				
				function deleteUser() {
					$.post("/crud2/deleteUser", 
							{
								name : $('#n1').val(),
								login : $('#l1').val(),
								email : $('#e1').val(),
								userRole : $('#u1').val()
							}
			      );	
					
					$('#n1').val('');
					$('#l1').val('');
					$('#e1').val('');
					$('#c1').val('');
					$('#u1').val('');
				}
				
	</script>
</head>



<body>


	<h1>User Managment</h1>
	<h2 class="col-75">
		<a href="/crud2/get" style="color: white">Get User or Users</a>
		&nbsp;&nbsp;&nbsp; <a href="/crud2/add" style="color: white">Add
			user</a>
	</h2>

	<div class="col-75">
		<div>
			Login: <input type="text" id = 'l0' name="login" /> 
			<button id="get_user" onclick="get_user()">Get user</button>
		</div>

		<button id="somebutton" onclick="get_table()">ShowAll</button>



	</div>




	
		<div>
			<table class="input_table">
				<caption>User</caption>
				<tr>
					<th>Name</th>
					<th>Login</th>
					<th>Email</th>
					<th>CreatedDate</th>
					<th>UserRole</th>
					<th>Save</th>
					<th>Delete</th>



				</tr>
				<tr>
					<td><input id = "n1" type="text" name="name" size="20" value="" /></td>
					<td><input id = "l1"  type="text" name="login" size="20" value="" readonly="readonly"/> <!--type="hidden"--></td>
					<td><input id = "e1"  type="text" name="email" size="20" value="" /></td>
					<td><input id = "c1"  type="text" name="CreatedDate" size="20" value="" readonly="readonly" /></td>
					<td><input id = "u1"  type="text" name="userRole" size="20" value="" /></td>



					<td><button id="save" onclick="editUser()">Save</button></td>

					<td><button id="delete" onclick="deleteUser()">Delete</button></td>

				</tr>
			</table>
		</div>
	

	<div>
		<table class="output_table" id="users">
			<caption>List of Users</caption>
			<tr>
				<th>Name</th>
				<th>Login</th>
				<th>Email</th>
				<th>CreatedDate</th>
				<th>UserRole</th>
			</tr>


		</table>
	</div>
	<div id="somediv"></div>
</body>
</html>