<!---
<web-app>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>aoleynikov.servlets.UsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
-->
<web-app>
    <!---
        <resource-ref>
            DB Connection
            <res-ref-name>jdbc/servlets</res-ref-name>
            <res-type>javax.sql.DataSource</res-type>
            <res-auth>Container</res-auth>
        </resource-ref>
        -->

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>aoleynikov.servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>aoleynikov.servlets.servlets.StartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>aoleynikov.servlets.servlets.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GetServlet</servlet-name>
        <servlet-class>aoleynikov.servlets.servlets.GetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetServlet</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>aoleynikov.servlets.servlets.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>aoleynikov.servlets.servlets.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
</web-app>

